.categoria-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 100px;
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .titulo {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #023047;
    font-weight: bold; 
  }
  
  .formulario {
    margin-bottom: 30px;
  }
  
  .input-group {
    margin-bottom: 20px; 
  }
  
  .input-group label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
    color: #023047;
    font-weight: bold; 
  }
  
  .input-group input {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 8px; 
    font-size: 16px;
    transition: border-color 0.3s ease; 
  }
  
  .input-group input:focus {
    border-color: #219ebc; 
    outline: none; 
  }
  
  button {
    padding: 12px 20px; 
    background-color: #219ebc;
    color: white;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease; 
  }
  
  button:hover {
    background-color: #023047;
  }
  
  .tabla-categorias {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
  }
  
  .tabla-categorias th,
  .tabla-categorias td {
    padding: 14px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 16px; 
  }
  
  .tabla-categorias th {
    background-color: #f2f2f2;
    color: #023047;
    font-weight: bold; 
  }
  
  .tabla-categorias td {
    vertical-align: middle;
  }
  
  .tabla-categorias .acciones {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    align-items: flex-start; 
  }
  
  .btn-editar,
  .btn-eliminar {
    padding: 10px 15px; 
    font-size: 16px; 
    border: none;
    border-radius: 6px; 
    cursor: pointer;
    width: 100%; 
    text-align: center; 
    transition: background-color 0.3s ease; 
  }
  
  .btn-editar {
    background-color: #ffc107;
    color: white;
    margin-bottom: 10px; 
  }
  
  .btn-editar:hover {
    background-color: #e0a800;
  }
  
  .btn-eliminar {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-eliminar:hover {
    background-color: #c82333;
  }
  
  .categoria-footer {
    width: 100%;
    background-color: #023047;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 1.2rem;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  .btn-back {
    position: absolute;
    top: 20px;  
    left: 20px;  
    background-color: #219ebc;
    color: white;
    border: none;
    padding: 5px 10px;  
    font-size: 14px;  
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s;
    z-index: 1000;
    width: auto; 
  }
  
  
  .menu-cate {
    width: 100%;
    background-color: #023047;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;  
    padding: 35px 20px;
    position: relative;
    top: 0;
    left: 0;
  }
  